
/*
 * This is where you would define your Sass variables
 */
$headingColor:   #00BCD4;
$navButtonColor: #00838F;

/*
 * Third-party Overrides
 */

// Bootstrap Colors
// $brand-primary: #Add your color here;

// This is needed to point the fontawesome css to the correct folder for the font
$fa-font-path: "~font-awesome/fonts";